@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');


@font-face {
    font-family:'love';
    src: url('fontes/HabitaScenic_PERSONAL_USE_ONLY.otf') format('opentype');
}

@font-face {
    font-family:'heart';
    src: url('fontes/Young\ Heart.otf') format('opentype');
}

* {
    padding: 0px;
    margin: 0px;
}


body {
    background-color: black;
}

nav {
    background-color: #2E2E2E;
    padding: 20px;
    text-align: center;
    max-width: 100%;
}

nav > a {
    margin-left: 80px;
    text-decoration: none;
    color:#ffffff;
    font-weight: bolder;
    padding: 10px;
    max-width: 1200px;
}

nav > a:hover {
    background-color:#96C5B0 ;
}

#fotos {
    background-color: aliceblue;
    max-width: 1200px;
    margin: auto;
    border-radius: 30px;
    margin-top: 30px;
}

#fotos > h1 {
    text-align: center;
    padding: 10px;
    font-family: 'heart';
    font-size: 60px;
}

#fotos > h2 {
    text-align: center;
    padding: 10px;
    font-family: 'heart';
    font-size: 40px;
}

#fotos > img {
    padding-left: 30px;
    padding-top: 20px;
}

#agendamento {
    background-color: #2E2E2E;
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    border-radius: 20px;
    
}

#agendamento > h1 {
    text-align: center;
    padding: 10px;
    font-family: 'love';
    font-size: 60px;
    color: rgb(206, 213, 218);
    max-width: 1200px;
}

#agendamento > p {
    text-align: center;
    padding: 20px;
}

#agendamento > p > span {
    background-image: linear-gradient(to bottom , #6FC465 , white);
    padding: 10px;
    font-size: 25px;
    border-radius: 50px;
    margin-left: 60px;
    font-family: 'Bruno Ace SC';
}

#agendamento > p > span.insta {
    background-image: linear-gradient(to bottom , #E6476F , white);
}

#agendamento > p > span > a {
    text-decoration: none;
    font-weight: bold;
    color: #2E2E2E
}

#agendamento > h2 {
    text-align: center;
    padding: 10px;
    font-family: 'love';
    font-size: 40px;
    color: #ced5da;
}
 
#agendamento > h3 {
    text-align: center;
}

#agendamento > h3 > a {
    background-image: linear-gradient(to bottom , #0BA3AD , white);
    padding: 10px;
    font-size: 25px;
    border-radius: 50px;
    margin-left: 60px;
    text-decoration: none;
    font-weight: bold;
    color: #2E2E2E;
    font-family: 'Bruno Ace SC';
}

#servicos {
    background-image: linear-gradient(to bottom , #2E2E2E , #96C5B0);
    max-width: 1200px;
    margin: auto;
    margin-top: 30px;
    border-radius: 30px;
}

#servicos > h1 {
    font-family: 'love';
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
    color: #ced5da;
}

#servicos > h2 {
    font-family: 'love';
    padding-top: 25px;
    text-align: center;
    font-size: 40px;
    color: #ced5da;
}

.img2 {
    background-image: url('imagens/wepik-export-20230424174735.png');
    background-repeat: no-repeat;
    min-width: 320px;
    margin: auto;
    border-radius: 40px;
    margin-top: 30px;
}

.img2 > h1 {
    color: #0c0c0c;
    text-decoration: underline;
    text-align: unset;
}

.img2 > h1 > span {
    margin-left: 600px;
}

.loc {
    margin: auto;
    background-color:#2E2E2E;
    margin-top: 30px;
    border-radius: 30px;
    max-width: 1200px;
    min-width: 300px;
}

.loc > h1 {
    text-align: center;
    padding: 10px;
    font-family: 'love';
    font-size: 60px;
    color: rgb(206, 213, 218);
}

.loc > h2 {
    text-align: center;
    padding: 10px;
    font-family: 'love';
    font-size: 40px;
    color: #ced5da;
}

.loc > h2 > a {
    text-decoration: none;
    color:#96C5B0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}

footer {
    color: #96C5B0;
    text-align: center;
    margin-top: 20px;
    background-color:#2E2E2E;
    padding: 5px;
}

footer > a {
    text-decoration: none;
    color: #736c79;
}