* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{   
    width: 18px;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #c7b4b4;
}

body {
    background-color: #F8E7DE;
}

header {
    background-color: rgba( 0, 0, 0, 0.07);
    height: 60px;
}

.center {
    max-width: 1600px;
    padding: 0 2%;
    display: flex;
    margin: 0 auto;
}



.container-menu {
    justify-content: space-around;
    width: 100%;
    align-items: center;
    margin-bottom: 2px;
    max-width: 3000px;
    padding: 0 2%;
    display: flex;
    margin: 0 auto;
    justify-content:flex-end ;
}

.menu > a {
    text-decoration: none;
    display: inline-block;
    margin: 0 40px;
    padding: 8px 10px;
    transition: 0.8s;
    color: #817160;
}

.menu > a:hover {
    color:#c7c0b0;
}


section.main {
    min-height: 950px;
    background-image: url('../imagens/primeira.png');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

}

.imagen2 {
    border-radius: 30px;
    margin-top: 5px;
    width: 100%;
}

.rimgg {
    position: relative;
    left: 1530px;
    top: 695px;
    text-decoration: none;
}

.rimggw {
    position: relative;
    left: 1460px;
    top: 510px;
    text-decoration: none;
}


.produto-single {
    text-align: left;
}

.produto-container {
    width: 100%;
    justify-content: space-between;
}

.produto-single > img {
    max-width: 100%;
    text-align: left;
}

.centertwo {
    max-width: 1660px;
    padding: 0 2%;
    display: flex;
    margin: 0 auto;
}

.centertwot {
    max-width: 2000px;
    padding: 0 1%;
    display: flex;
    margin: 0 auto;
}

.centertwott {
    min-height: 900px;
    background-image: url('../imagens/fim.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.rodape {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    max-width: 100%;
}



@media screen and (max-width:1600px ) {

    section.main {
        min-height: 750px;
        background-image: url('../imagens/primeira-media.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
    
    }

    .centertwott {
        min-height: 700px;
        background-image: url('../imagens/fim-media.png');
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
    }

    .rimgg {
        position: relative;
        left: 1180px;
        top: 530px;
        text-decoration: none;
    }
    
    .rimggw {
        position: relative;
        left: 1110px;
        top: 390px;
        text-decoration: none;
    }

    .centertwot {  
        max-width: 50%;     
        padding: 0 1%;
        display: block;
        margin: 0 auto;
    }

    
}

@media (max-width:420px) {

    section.main {
        min-height: 492px;
        background-image: url('../imagens/primeira-peq-2.png');
        background-position: center;
    }

    .imagen2 {
        border-radius: 10px;
        margin-top: 5px;
        width: 100%;
    }

    .menu > a {
        text-decoration: none;
        display: inline-block;
        margin: 0 0px;
        padding: 8px 10px;
        transition: 0.8s;
        color: #D1B697;
    }

    .centertwott {
        min-height: 260px;
        background-image: url('../imagens/fim-peq.png');
        background-repeat: no-repeat;
        background-position: center;
    }

    .rodape {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0px;
        background-color: #FFFFFF;
    }

    .rimgg {
        
        position: relative;
        left: 295px;
        top: 200px;
        text-decoration: none;
    }
    
    .rimggw {
       
        position: relative;
        left: 270px;
        top: 145px;
        text-decoration: none;
    }

    .centertwo {
    
        padding: 0 2%;
        display: block;
        margin: 0 auto;
        max-width: 100%;
    }

    .centertwot {  
        max-width: 100%;     
        padding: 0 1%;
        display: block;
        margin: 0 auto;
    }

    .rodape {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #FFFFFF;
        max-width: 100%;
    }

    .zap {
        max-width: 20px;
    }    
}