@import url('cabecalho.css');
@import url('carrosel.css');
@import url('programacao.css');
@font-face {
    font-family: 'font2';
    src: url('../fontes/Amsterdam\ Signature.otf') format('opentype');
}

@font-face {
    font-family:'font3' ;
    src: url('../fontes/Edensor-FREE.otf') format('opentype');
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 231, 231);
}


html {
    scroll-behavior: smooth;
}


.whatsicon2 {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    border-radius: 130px;
}


